---
import LoaderIcon from "@components/loader/LoaderIcon.astro";
---

<loader-div>
    <div id="loader-container">
        <LoaderIcon />
    </div>
</loader-div>

<style>
    @keyframes disappear {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }
    #loader-container {
        position: fixed;
        top: 56px;

        height: 99vh;
        width: 99%;

        display: flex;
        align-items: center;
        justify-content: center;

        z-index: 70;
        background-color: var(--bg-color-dark);

        html.light & {
            background-color: var(--bg-color-light);
        }

        &.disappear {
            animation: disappear 0.5s ease-in;
            opacity: 0;
            z-index: -1;
            height: 99%;
        }
        svg {
            width: 200px;
        }
    }
</style>
<script>
    class LoaderDIV extends HTMLElement {
        constructor() {
            super();
            document.addEventListener("astro:page-load", () => {
                const $loader = this.querySelector("#loader");

                if (document.documentElement.className == "light") {
                    $loader.setAttribute("stroke", "#000");
                } else {
                    $loader.setAttribute("stroke", "#fff");
                }
            });
        }
    }

    customElements.define("loader-div", LoaderDIV);
</script>
