---
import ContainerLoaderIcon from "@components/loader/ContainerLoaderIcon.astro";
---

<astro-chart>
  <h1>Fondo</h1>
  <ContainerLoaderIcon />
  <div>
    <canvas id="fund"></canvas>
  </div>
</astro-chart>
<style>
  astro-chart {
    width: 98.5%;
    height: auto;

    h1 {
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
    div {
      height: 70vh;
    }
  }
</style>
<script>
  import { getDataFund } from "@scripts/fundAPI";
  import { createChart } from "@scripts/charts";
  import { getCookieJWT } from "@scripts/utils";

  class AstroChart extends HTMLElement {
    constructor() {
      super();

      const token = getCookieJWT();
      getDataFund(token).then((data: Object) => createChart("fund", data));
    }
  }

  customElements.define("astro-chart", AstroChart);
</script>
