.form__label {
    display: block;
    margin-bottom: 8px;
}

.form__group-input {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
}

.form__input {
    border: none;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;

    &:focus {
        outline: none;
    }
}

.form__text {
    text-align: center;
    margin: 0.05rem;

    &.form__error {
        display: none;
        margin: 0;
        margin-bottom: 0.4rem;
        font-size: 0.82rem;
        color: var(--error-color);
    }

    &.forget-password {
        text-align: end;
        margin: 0;
    }

    .text__link {
        font-size: 0.8rem;
    }
}
.text__link {
    text-decoration: none;
    margin: 1.5rem auto;
    font-size: 1rem;
    color: #fff;
}
.form__group-wrong {
    .form__label {
        color: var(--error-color);
    }
    .form__input {
        border: 2px solid var(--error-color);
    }

    .form__group-input {
        .status_icon {
            color: var(--error-color);
            opacity: 1;
        }
    }
}
.form__group-correct {
    .form__label {
        color: var(--check-color);
    }
    .form__input {
        border: 2px solid var(--check-color);
    }
    .form__group-input {
        .status_icon {
            color: var(--check-color);
            opacity: 1;
        }
    }
}
html.light{
    .form__input{background-color: rgba(200, 200, 200, 100);}
}