.form__group{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .form__label{
        margin: .5rem 0;
    }

    .form__group-input {
        position: relative;
        display: flex;
        align-items: center;
    }
    .form__input {
        border: none;
        width: 100%;
        padding: 8px;

        &:focus {
            outline: none;
        }
    }
    
    .form__error {
        display: none;
        cursor: default;
        text-align: center;
        letter-spacing: .5px;
        margin-top: 0.4rem; 
        font-size: 0.7rem;
        color: var(--red-600);
    }
}
.form__error-send {
    display: none;

    text-align: center;
    font-size: .9rem;
    color: var(--red-600);

    &.active{
        display: block;
    }

    body.red &{
        color: var(--red-700);
    }
    body.green &{
        color: var(--green-600);
    }

    html.light > body.red & {
        color: var(--red);
    }
    html.light > body.green & {
        color: var(--green);
    }
}
@media screen and (666px < width){
    .form__group{
        .form__error{
            display: block;
            opacity: 0;
        }
    }
}
.form__group-wrong {
    .form__label {
        color: var(--red-600);
    }
    .form__group-input {
        .form__input {
            border: 2px solid var(--red-600);
        }
        .status_icon {
            opacity: 1;
        }
    }
}
.form__group-correct {
    .form__label {
        color: var(--green-600);
    }
    .form__group-input {
        .form__input {
            border: 2px solid var(--green-600);
        }
        .status_icon {
            opacity: 1;
        }
    }
}
html.light{.form__input{background-color: #c9c9c9;}}