:root{
    --bg-color-dark: #121212;
    --bg-color-light: #dfdfdf;
    --text-color-dark: #fefefe;
    --text-color-light: #010101;
    --green-light:#29ff00;
    --green:#1b8800;
    --red-light: #ff0000;
    --red: #88001b;
}
h1,h2,h3,h4,h5,ul,body,main,div,input,label,form,nav,header,p
,button,aside{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {

    font-family: 'Russo One', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100dvh;
    width: 100%;
    max-width: 1350px;
    min-width: 290px;
    
    margin-top: 55px;
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);

    /* Si el bodi no está en los form */
    &:has(#menu-toggle){
        min-height: auto;
    }
}
h1 {
    font-weight: 100;
    letter-spacing: 5px;
    color: inherit;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}
/* Theme mode styles */
html.light {
    body {
        background-color: var(--bg-color-light);
        color: var(--text-color-light);
    }
}