* {
    box-sizing: border-box;
}
:root{
    --primary-color: #232323;
    --secondary-color: #efefef;
    --primary-color-text: #fefefe;
    --secondary-color-text: #010101;
    --error-color: #ff0000;
    --check-color: #00ff00;
}
@property --a {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}
@keyframes rotating {
    0% {
        --a: 0deg;
    }
    100% {
        --a: 360deg;
    }
}
body {
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100vh;
    min-width: 300px;
    margin: 0;
    margin-top: 55px;
    padding: 0;
    background: var(--primary-color);
}
h1 {
    color: var(--primary-color-text);
}
/* Theme mode styles */
html.light {
    #body {
        background-color: var(--secondary-color);
    }

    .navBar {
        background-color: var(--secondary-color);
    }

    .title {
        color: var(--secondary-color-text);
    }
}