.link-page{
    list-style: none;
    text-decoration: none;
    background-color: var(--bg-color-dark);

    a{
        position: relative;
        display: flex;
        justify-content: start;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        width: 100%;
        gap: 1rem;
    }
    p {
        font-size: 1.3rem;
        letter-spacing: 2px;
        color: var(--text-color-dark);
    }
}


body.red {
    svg {
        fill: var(--red-light);
    }
}
body.green {
    svg {
        fill: var(--green-light);
    }
}
html.light {
    .link-page{
        background-color: var(---bg-color-light);
        
        p{
         color: var(--text-color-light);
        }
    }

}
@media (width > 666px){
    p{
        overflow: hidden;
    }
}