.link-page{
    list-style: none;
    text-decoration: none;

    a{
        position: relative;
        display: flex;
        justify-content: start;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        width: 100%;
        gap: 1rem;
    }
    p {
        font-size: 1.3rem;
        letter-spacing: 2px;
        color: var(--text-color-dark);
    }
}

body.red {
    .link-page{
        svg {
            fill: var(--red-600);
        }
    }   
}
body.green {
    .link-page{
        svg {
            fill: var(--green-600);
        }
    }   
    
}
html.light {
    .link-page{
        background-color: var(---bg-color-light);
        
        p{
         color: var(--text-color-light);
        }
    }
}