main{
    --margin-close: 49px;
    --margin-open: 200px;

    margin-left: var(--margin-close);

    .expanded ~ & {
        margin-left: var(--margin-open);
    }
}
@media screen and (width < 666px) {
    main {
        aside ~ & {
            margin-left: 0;
        }
    }
}