---
import BtnColor from "@components/BtnColor.astro";

interface Props {
    key: string;
}

const { key } = Astro.props;

const isPassword = key == "Contraseña";
---

<div id={key}>
    <h5>{key}</h5>
    <hr />
    {
        isPassword ? (
            <span>
                <input type="password" value={"Contraseña"} readonly />
                <BtnColor text="Cambiar" type="change_password" />
            </span>
        ) : (
            <p />
        )
    }
</div>

<style>
    div {
        position: relative;

        border-radius: 8px;
        padding: 10px;
        background-color: #454545;

        html.light & {
            background-color: #b8b8b8;
        }

        h5 {
            font-size: 1rem;
            margin: 0.2rem 0;

            color: #ececec;
            letter-spacing: 1px;

            html.light & {
                color: #454545;
            }
        }

        hr {
            height: 1px;
            margin-top: 5px;

            box-shadow: none;
            background-color: var(--bg-color-light);

            html.light & {
                background-color: var(--bg-color-dark);
            }
        }

        p {
            color: var(--text-color-dark);

            html.light & {
                color: var(--text-color-light);
            }
        }

        & > span {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;

            input {
                height: 19px;
                width: calc(100% - 100px);

                border: none;
                color: inherit;
                cursor: default;
                font-size: 1.5rem;
                background-color: transparent;

                &:focus {
                    outline: none;
                }
            }
        }
    }
</style>
<script>
    document.querySelector(".change_password").addEventListener("click", () => {
        console.log("hola");
    });
</script>
