---
import ContainerLoaderIcon from "@components/loader/ContainerLoaderIcon.astro";
import TableFund from "@components/fund/TableFund.astro";
import TitlesFundData from "@components/fund/TitlesFundData.astro";
---

<fund-data>
  <h1>Fondo</h1>
  <ContainerLoaderIcon />
  <div id="canvas-container">
    <canvas id="fund"></canvas>
  </div>

  <section id="stats">
    <TableFund />
    <TitlesFundData />
  </section>
</fund-data>
<style>
  fund-data {
    width: 98.5%;
    height: auto;

    h1 {
      text-align: center;
      font-size: 2.5rem;

      margin-top: 1rem;
      margin-bottom: 2rem;
    }

    div#canvas-container {
      height: 77dvh;
    }
    section#stats {
      height: 95dvh;
      display: flex;
      flex-direction: column;
    }
  }
</style>
<script>
  import { getDataFund } from "@scripts/fund/fundAPI";
  import { createChart } from "@scripts/fund/chartFund";
  import { renderMaxValues } from "@scripts/fund/titlesFund";
  import { renderTable, enableEventHandlers } from "@scripts/fund/tableFund";
  import { getCookieJWT } from "@scripts/utils";

  class FundData extends HTMLElement {
    constructor() {
      super();
    }
    connectedCallback() {
      const token = getCookieJWT();

      getDataFund(token).then((data: Array<Object>) => {
        createChart("fund", data);
        renderTable(data, this);
        enableEventHandlers(data, this);
        renderMaxValues(data, this);
      });
    }
  }

  customElements.define("fund-data", FundData);
</script>
