---
import ContainerLoaderIcon from "@components/loader/ContainerLoaderIcon.astro";
import TableFund from "@components/fund/TableFund.astro";
import TitlesFundData from "@components/fund/TitlesFundData.astro";
---

<fund-data>
  <ContainerLoaderIcon />

  <h1>Fondo</h1>

  <figure id="canvas-container">
    <canvas id="fund"></canvas>
  </figure>

  <section id="stats">
    <TableFund />
    <TitlesFundData />
  </section>
</fund-data>
<style>
  fund-data {
    width: 98.5%;
    height: auto;
    position: relative;

    h1 {
      text-align: center;
      font-size: 2.5rem;

      margin-top: 1rem;
      margin-bottom: 2rem;
    }

    figure#canvas-container {
      height: 77dvh;
      margin: 0;
    }
    section#stats {
      height: 95dvh;
      display: flex;
      flex-direction: column;
    }
  }
</style>
<script>
  import { getDataSessionStorage } from "@scripts/getData";
  import { createChart } from "@scripts/fund/chartFund";
  import { renderMaxValues } from "@scripts/fund/titlesFund";
  import { renderTable, enableEventHandlers } from "@scripts/fund/tableFund";

  import type { Fund } from "@scripts/types";

  class FundData extends HTMLElement {
    constructor() {
      super();
    }
    connectedCallback() {
      getDataSessionStorage("data-fund").then((data: Fund[]) => {
        createChart(data, "fund");
        renderTable(data, this);
        enableEventHandlers(data, this);
        renderMaxValues(data, this);
      });
    }
  }

  customElements.define("fund-data", FundData);
</script>
