---
import Layout from "@layouts/Layout.astro";
import BtnColor from "@components/BtnColor.astro";
---

<Layout title="No se encontro la página" hasFooter={true}>
    <main>
        <h1>No se encontró la página</h1>
        <a href="/" aria-label="Volver a la anterior pagina">
            <BtnColor text="Volver" type="no-found" />
        </a>
    </main>
</Layout>
<style>
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 100vh;
        gap: 2rem;

        h1{
            text-align: center;
            text-wrap: pretty;
        }

        a {
            display: flex;
            justify-content: center;
            text-decoration: none;

            height: auto;
            width: 400px;
        }
    }
</style>
