---
import Layout from "@layouts/Layout.astro";
import MenuToggle from "@sections/MenuToggle.astro";

import "@styles/main-content.css";
---

<Layout title="BrokerView | Broker" isForm={false}>
    <MenuToggle />
    <main>
        <h1>Broker</h1>
    </main>
</Layout>
