---
import Layout from "@layouts/Layout.astro";
import MenuToggle from "@sections/MenuToggle.astro";
import BrokerData from "@components/BrokerData.astro";

import "@styles/main-content.css";

if (!Astro.cookies.has("jwt")) {
    return Astro.redirect("/");
}

import { GetToken } from "@scripts/usersAPI";

let hasBroker;

if (!Astro.cookies.has("dataToken")) {
    const token = Astro.cookies.get("jwt").value;
    const response = await GetToken(token);
    Astro.cookies.set("dataToken", response);
    hasBroker = response.broker;
}

const token = Astro.cookies.get("dataToken").value;
hasBroker = JSON.parse(token).broker;
---

<Layout title="BrokerView | Broker" hasFooter={false}>
    <MenuToggle />
    <main>
        {hasBroker ? <BrokerData /> : <h1>Su cuenta no tiene este recurso</h1>}
    </main>
</Layout>
