---
import Layout from "@layouts/Layout.astro";
import MenuToggle from "@sections/MenuToggle.astro";

import "@styles/main-content.css";

if (Astro.cookies.get("isLogin").value != "true") {
    return Astro.redirect("/");
}
---

<Layout title="BrokerView | Broker" hasFooter={false}>
    <MenuToggle />
    <main>
        <h1>Broker</h1>
    </main>
</Layout>
