---
import Layout from "@layouts/Layout.astro";
import MenuToggle from "@components/menu_toggle/MenuToggle.astro";
import BrokerData from "@components/broker/BrokerData.astro";
import NotAvailable from "@components/NotAvailable.astro";

import "@styles/main-content.css";

if (!Astro.cookies.has("jwt")) {
    return Astro.redirect("/");
}

const token = Astro.cookies.get("dataToken").value;
const hasBroker = JSON.parse(token).broker;
---

<Layout title="BrokerView | Broker" hasFooter={false}>
    <MenuToggle />
    <main>
        {hasBroker ? <BrokerData /> : <NotAvailable />}
    </main>
</Layout>
