---
import Layout from "@layouts/Layout.astro";
import MenuToggle from "@components/menu_toggle/MenuToggle.astro";
import DataAccount from "@components/account/DataAccount.astro";

import "@styles/main-content.css";

if (!Astro.cookies.get("jwt")) {
    return Astro.redirect("/");
}
---

<Layout title="BrokerView | Cuenta" hasFooter={false}>
    <MenuToggle />
    <main>
        <h1>Cuenta</h1>
        <DataAccount />
    </main>
</Layout>
<style>
    h1 {
        font-size: 2.5rem;
        margin: 3.5rem 0;
    }
</style>
