---
import Layout from "@layouts/Layout.astro";
import MenuToggle from "@sections/MenuToggle.astro";
import DataAccount from "@components/DataAccount.astro";

import "@styles/main-content.css";

const token = Astro.cookies.get('jwt').value

---

<Layout title="BrokerView | Cuenta" hasFooter={false}>
    <MenuToggle />
    <main>
        <h1>Cuenta</h1>
        <DataAccount />
    </main>
</Layout>
<style>
    h1 {
        margin: 1.5rem;
    }
</style>
