---
import Layout from "@layouts/Layout.astro";
import MenuToggle from "@sections/MenuToggle.astro";

import "@styles/main-content.css";
---

<Layout title="BrokerView | Cuenta" isForm={false}>
    <div id="content">
        <MenuToggle />
        <main>
            <h1>Cuenta</h1>
        </main>
    </div>
</Layout>
