---
import Layout from "@layouts/Layout.astro";
import MenuToggle from "@sections/MenuToggle.astro";
import DataAccount from "@components/DataAccount.astro";

import "@styles/main-content.css";

// import { GetUser } from "src/scripts/usersAPI";

// if (Astro.cookies.get("isLogin").value != "true") {
//     return Astro.redirect("/");
// }

const token = Astro.cookies.get("jwt").value;
// const user = await GetUser(token);


// if (user.detail == 'No autorizado'){
//     Astro.cookies.set("isLogin",'false');
//     return Astro.redirect('/')
// }

let user = {"username":"juan","name":"manuel"}
---

<Layout title="BrokerView | Cuenta" hasFooter={false}>
    <MenuToggle />
    <main>
        <h1>Cuenta</h1>
        <DataAccount user={user} />
    </main>
</Layout>
<style>
    h1 {
        margin: 1.5rem;
    }
</style>
