---
import Layout from "@layouts/Layout.astro";
import MenuToggle from "@sections/MenuToggle.astro";
import FundData from "@components/FundData.astro";

import "@styles/main-content.css";

if (!Astro.cookies.get("jwt")) {
    return Astro.redirect("/");
}

import { GetToken } from "src/scripts/usersAPI";

const token = Astro.cookies.get("jwt").value;
const response = await GetToken(token);
const hasFondo = response.fund;
---

<Layout title="BrokerView | Fondo" hasFooter={false}>
    <MenuToggle />
    <main>
        {hasFondo ? <FundData /> : <h1>Su cuenta no tiene este recurso</h1>}
    </main>
</Layout>
