---
import Layout from "@layouts/Layout.astro";
import MenuToggle from "@components/menu_toggle/MenuToggle.astro";
import FundData from "@components/fund/FundData.astro";
import NotAvailable from "@components/NotAvailable.astro";

import "@styles/main-content.css";

if (!Astro.cookies.has("jwt")) {
    return Astro.redirect("/");
}

const token = Astro.cookies.get("dataToken").value;
const hasFund = JSON.parse(token).fund;
---

<Layout title="BrokerView | Fondo" hasFooter={false}>
    <MenuToggle />
    <main>
        {hasFund ? <FundData /> : <NotAvailable />}
    </main>
</Layout>
