---
import Layout from "@layouts/Layout.astro";
---

<Layout title="BrokerView | Inicio">
    <main>
        <h1>Fondo</h1>
    </main>
</Layout>

<style>
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
        margin: 0;
    }

    h1,
    h3 {
        margin: 0;
        text-align: center;
    }
</style>