---
import Layout from "@layouts/Layout.astro";
import MenuToggle from "@sections/MenuToggle.astro";

import "@styles/main-content.css";

if (!Astro.cookies.get("jwt")) {
    return Astro.redirect("/");
}
---

<Layout title="BrokerView | Fondo" hasFooter={false}>
    <MenuToggle />
    <main>
        <h1>Fondo</h1>
    </main>
</Layout>
