---
import Layout from "@layouts/Layout.astro";
import MenuToggle from "@components/menu_toggle/MenuToggle.astro";
import FundData from "@components/data/FundData.astro";

import "@styles/main-content.css";

if (!Astro.cookies.has("jwt")) {
    return Astro.redirect("/");
}

import { GetToken } from "src/scripts/usersAPI";

let hasFund;

if (!Astro.cookies.has("dataToken")) {
    const token = Astro.cookies.get("jwt").value;
    const response = await GetToken(token);
    Astro.cookies.set("dataToken", response);
    hasFund = response.fund;
}

const token = Astro.cookies.get("dataToken").value;
hasFund = JSON.parse(token).fund;
---

<Layout title="BrokerView | Fondo" hasFooter={false}>
    <MenuToggle />
    <main>
        {hasFund ? <FundData /> : <h1>Su cuenta no tiene este recurso</h1>}
    </main>
</Layout>
