---
import Layout from "@layouts/Layout.astro";
import MenuMobile from "@sections/MenuMobile.astro";
---

<Layout title="BrokerView | Inicio" hamburger="">
    <MenuMobile />
    <main>
        <h1>Fondo</h1>
    </main>
</Layout>
