---
import Layout from "@layouts/Layout.astro";
import TitlesWelcome from "@components/TitlesWelcome.astro";
---

<Layout title="BrokerView | Inicio">
    <main>
        <TitlesWelcome />
    </main>
</Layout>

<style>
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        width: 95%;
        margin: 0;
    }

    h1,
    h3 {
        margin: 0;
        text-align: center;
    }
</style>
