---
import Layout from "@layouts/Layout.astro";
import TitlesWelcome from "@components/TitlesWelcome.astro";
import MenuMobile from "@sections/MenuMobile.astro";
---

<Layout title="BrokerView | Inicio">
    <div>
        <MenuMobile />
        <main>
            <TitlesWelcome />
        </main>
    </div>
    
</Layout>

<style>
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
        margin: 0;
    }

    h1,
    h3 {
        margin: 0;
        text-align: center;
    }
</style>
