---
import Layout from "@layouts/Layout.astro";
import Form from "@sections/Form.astro";
import TextLink from "@sections/TextLink.astro";
---

<Layout title="BrokerView" hamburger="not">
	<main>
		<h1 class="title">Ingresar</h1>

		<Form type="login" />
		<TextLink
			href="./signin"
			text="¿No tiene una cuenta?"
			textN="Crear cuenta"
		/>
	</main>
</Layout>
<style>
	h1 {
		margin-top: 4.5rem;
		margin-bottom: 2rem;
	}
	main{
		display: flex;
		align-items: center;
		flex-direction: column;
		height: 100vh;
		margin: 0;
	}
</style>
