---
import Layout from "@layouts/Layout.astro";
import Form from "@components/Form.astro";
import TextLink from "@components/TextLink.astro";
---

<Layout title="BrokerView">
	<h1 class="title">Welcome</h1>

	<Form type="login"/>
	<TextLink
		href="./signin"
		text="¿No tiene una cuenta?"
		textN="Crear cuenta"
	/>
</Layout>
