---
import Layout from "@layouts/Layout.astro";
import TitlesWelcome from "@components/TitlesWelcome.astro";
import MenuToggle from "@components/menu_toggle/MenuToggle.astro";

import "@styles/main-content.css";

if (!Astro.cookies.get("jwt")) {
    return Astro.redirect("/");
}
---

<Layout title="BrokerView | Inicio" hasFooter={false}>
    <MenuToggle />
    <main>
        <TitlesWelcome />
    </main>
</Layout>

<style>
    h1,
    h3 {
        text-align: center;
    }
</style>
