---
import Layout from "@layouts/Layout.astro";
import TitlesWelcome from "@components/TitlesWelcome.astro";
import MenuMobile from "@sections/MenuMobile.astro";
---

<Layout title="BrokerView | Inicio" hamburger="">
    <MenuMobile />
    <main>
        <TitlesWelcome />
    </main>
</Layout>

<style>
    h1,
    h3 {
        text-align: center;
    }
</style>
