---
import Layout from "@layouts/Layout.astro";
import MenuToggle from "@components/menu_toggle/MenuToggle.astro";
import DataHome from "@components/DataHome.astro";

import "@styles/main-content.css";

if (!Astro.cookies.get("jwt")) {
    return Astro.redirect("/");
}
---

<Layout title="BrokerView | Inicio" hasFooter={false}>
    <MenuToggle />

    <main>
        <DataHome />
    </main>
</Layout>
