---
import Layout from "@layouts/Layout.astro";
import TitlesWelcome from "@components/TitlesWelcome.astro";
import MenuToggle from "@sections/MenuToggle.astro";

import "@styles/main-content.css";
---

<Layout title="BrokerView | Inicio" isForm={false}>
    <MenuToggle />
    <main>
        <TitlesWelcome />
    </main>
</Layout>

<style>
    h1,
    h3 {
        text-align: center;
    }
</style>
