---
import Layout from "@layouts/Layout.astro";
import MenuToggle from "@components/menu_toggle/MenuToggle.astro";
import DataHome from "@components/DataHome.astro";

import "@styles/main-content.css";

if (!Astro.cookies.get("jwt")) {
    return Astro.redirect("/");
}

import { GetToken } from "@scripts/usersAPI";

const token = Astro.cookies.get("jwt").value;
const response = await GetToken(token);
Astro.cookies.set("dataToken", response);
---

<Layout title="BrokerView | Inicio" hasFooter={false}>
    <MenuToggle />

    <main>
        <DataHome />
    </main>
</Layout>
