---
import Layout from "@layouts/Layout.astro";
import FormPassword from "@components/password/FormPassword.astro";
---

<Layout title="BrokerView | Cambiar contraseña" hasFooter={true}>
    <main>
        <FormPassword />
    </main>
</Layout>