---
import Layout from "@layouts/Layout.astro";
import Forms from "@components/forgotpw/Forms.astro";
---

<Layout title="BrokerView | Cambio de contraseña" hasFooter={true}>
    <main>
        <Forms />
    </main>
</Layout>
