---
import TextLink from "@components/TextLink.astro";
import Form from "@components/Form.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="BrokerView | Registro" />

<h1 class="title">Registrarse</h1>

<Form type="signin" />

<TextLink href="../" text="¿Ya tienes una cuenta?" textN="Iniciar sesión" />

<style>
    body {
        height: 130vh;
    }
    h1 {
        color: #fff;
    }
</style>
