---
import TextLink from "src/sections/TextLink.astro";
import Form from "src/sections/Form.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="BrokerView | Registro" isForm={true}>
    <main>
        <h1 class="title">Registrarse</h1>

        <Form type="signin" />

        <TextLink
            href="../"
            text="¿Ya tiene una cuenta?"
            textN="Iniciar sesión"
        />
    </main>
</Layout>
<style>
    h1 {
		margin: 2.5rem;
	}
</style>
