---
import TextLink from "src/sections/TextLink.astro";
import Form from "src/sections/Form.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="BrokerView | Registro" hamburger="not">
    <main>
        <h1 class="title">Registrarse</h1>

        <Form type="signin" />

        <TextLink
            href="../"
            text="¿Ya tiene una cuenta?"
            textN="Iniciar sesión"
        />
    </main>
</Layout>
<style>
    h1 {
		margin: 2.5rem;
	}
    main {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        height: auto;
        min-height: 100vh;
		margin: 0;
    }
</style>
