---
import CardInvalid from "@components/home/CardInvalid.astro";
import LiHome from "@components/home/LiHome.astro";

interface Props {
    fund: boolean;
    broker: boolean;
}

const { fund, broker } = Astro.props;
---

<section>
    {
        broker && (
            <ul>
                <li class="subtitle">
                    <h3>Broker</h3>
                    <p id="amount-broker" />
                </li>

                <hr />

                <h4 id="month" />

                <LiHome text="Ganancia" id="profit-broker" />
                <LiHome text="Porcentaje ganancia" id="percentage" />
                <LiHome text="Lotaje" id="lote" />
                <LiHome text="Retiros" id="retreats" />
            </ul>
        )
    }

    {
        fund && (
            <ul>
                <li class="subtitle">
                    <h3>Fondo</h3>
                    <p id="amount-fund" />
                </li>

                <hr />

                <h4 id="cutoff-date" />

                <LiHome text="Rendimientos" id="profit-fund" />
                <LiHome text="Aporte" id="contribution" />
                <LiHome text="Fecha aporte" id="date-contribution" />
                <LiHome text="Saldo anterior" id="previus-balance" />
            </ul>
        )
    }
</section>

<style>
    section {
        display: flex;
        justify-content: center;
        gap: 2rem;

        width: 99%;
        margin: 0 auto;
        margin-bottom: 2rem;
        padding: 0 1rem;

        ul {
            width: 100%;
            max-width: 750px;
            height: auto;

            display: flex;
            flex-direction: column;
            align-items: center;

            padding: 1rem;

            border-radius: 8px;
            border: 2px solid var(--red);
            box-shadow: 0 0 5px var(--red);

            &:last-child {
                border: 2px solid var(--green);
                box-shadow: 0 0 5px var(--green);
            }

            li.subtitle {
                margin: 0;

                h3 {
                    font-size: 2rem;
                    font-weight: 100;
                    text-align: start;
                    color: inherit;
                }

                p {
                    align-content: center;
                }
            }

            li {
                display: flex;
                justify-content: space-between;

                width: 100%;
                margin: 0.5rem;
            }

            hr {
                height: 1px;
                width: 100%;
                background-color: var(--bg-color-light);

                html.light & {
                    background-color: var(--bg-color-dark);
                }
            }

            h4 {
                font-size: 1.5rem;
                font-weight: 100;

                margin: 0.5rem 0;
            }
        }
    }
    @media (width < 666px) {
        section {
            flex-direction: column;
            gap: 2rem;
        }
    }
</style>
