---
import TitlesWelcome from "@components/home/TitlesWelcome.astro";
import ContainerLoaderIcon from "@components/loader/ContainerLoaderIcon.astro";
import CardsHome from "@components/home/CardsHome.astro";

const token = Astro.cookies.get("jwt").value;

const dataToken = Astro.cookies.get("dataToken").value;
const dataTokenObject = JSON.parse(dataToken);
---

<home-data data-token-jwt={token} data-token={dataToken}>
    <ContainerLoaderIcon />
    <TitlesWelcome />

    <section>
        <CardsHome
            broker={dataTokenObject.broker}
            fund={dataTokenObject.fund}
        />
    </section>
</home-data>
<style>
    home-data {
        width: 100%;
        height: auto;
    }
    section {
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        width: 99%;
        margin: 0 auto;
        padding: 0 1rem;
    }

    @media (width < 666px) {
        section {
            flex-direction: column;
            gap: 2rem;
        }
    }
</style>
<script>
    import { getUrlsData } from "@scripts/utils";
    import { getAllData } from "@scripts/getData";
    import { setHomePage } from "@scripts/home/renderHome";

    class HomeData extends HTMLElement {
        constructor() {
            super();
        }
        connectedCallback() {
            const token = this.dataset.tokenJwt;
            const dataToken = JSON.parse(this.dataset.token);

            const urls = getUrlsData(dataToken);

            const hasBroker = dataToken.broker;
            const hasFund = dataToken.fund;

            getAllData(token, urls).then((responses: Array<Object>) => {
                setHomePage(hasBroker, hasFund, responses, this);
            });
        }
    }
    customElements.define("home-data", HomeData);
</script>
