---
import TitlesWelcome from "@components/home/TitlesWelcome.astro";
import ContainerLoaderIcon from "@components/loader/ContainerLoaderIcon.astro";
import CardsHome from "@components/home/CardsHome.astro";

const token = Astro.cookies.get("dataToken").value;
const tokenObject = JSON.parse(token)
---

<home-data data-token={token}>
    <ContainerLoaderIcon />

    <TitlesWelcome />

    <section>
        <CardsHome broker={tokenObject.broker} fund={tokenObject.fund} />
    </section>
</home-data>
<style>
    home-data {
        width: 100%;
        height: auto;
    }
    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

        width: 99%;
        margin: 0 auto;
        padding: 0 1rem;
    }
</style>
<script>
    import { getCookieJWT, getUrlsData } from "@scripts/utils";
    import { getAllData } from "@scripts/getData";
    import { setHomePage } from "@scripts/home/renderHome";

    class HomeData extends HTMLElement {
        constructor() {
            super();
        }
        connectedCallback() {
            const token = getCookieJWT();
            const dataToken = JSON.parse(this.dataset.token);

            const urls = getUrlsData(dataToken);

            const hasBroker = dataToken.broker;
            const hasFund = dataToken.fund;

            getAllData(token, urls).then((responses) => {
                setHomePage(hasBroker, hasFund, responses, this);
            });
        }
    }
    customElements.define("home-data", HomeData);
</script>
