<div class="hamburger_icon" transition:persist>
    <input id="hamburger" type="checkbox" name="" />

    <span id="top"></span>
    <span id="middle"></span>
    <span id="bottom"></span>
</div>

<style>
    div.hamburger_icon {
        position: absolute;
        height: 40px;
        width: 23px;
        left: 10px;
        z-index: 260;

        input[type="checkbox"] {
            position: absolute;
            top: 10px;
            cursor: pointer;
            z-index: 1;
            width: 23px;
            height: 20px;
            opacity: 0;

            &.hamburger-active {
                & ~ #top {
                    rotate: 45deg;
                    top: 18.5px;
                }
                & ~ #middle {
                    opacity: 0;
                }
                & ~ #bottom {
                    rotate: -45deg;
                    top: 18.5px;
                }
            }
        }

        span {
            position: absolute;
            width: 23px;
            height: 3px;
            left: 0;
            transition:
                top 0.4s ease,
                rotate 0.4s ease,
                opacity 0.4s ease;
            background-color: var(--bg-color-dark);
        }

        span#top {
            top: 10px;
        }
        span#middle {
            top: 18.5px;
        }
        span#bottom {
            top: 27px;
        }
    }
    html.light {
        .hamburger_icon {
            span {
                background-color: var(--bg-color-light);
            }
        }
    }
</style>
<script>
    const screenWidth = window.innerWidth;
    const $hamburger = document.getElementById("hamburger");

    $hamburger.addEventListener("click", () => {
        $hamburger.classList.toggle("hamburger-active");
        if (screenWidth < 666) {
            document
                .getElementById("background__menu-toggle")
                .classList.toggle("appear");
        } else {
            document.getElementById("menu-toggle").classList.toggle("expanded");
        }
    });

    document.addEventListener("astro:page-load", () => {
        if (screenWidth < 666) {
            document
                .getElementById("hamburger")
                .classList.remove("hamburger-active");
        }
    });
</script>
