---
const { type } = Astro.props;
---
{
    type == 'navBar' ? 
    <header class=`background ${type}`><slot/></header> 
    : <section class=`background ${type}`><slot /></section>
}


<style>
    .background {
        display: flex;
        justify-content: center;
        align-items: center;

        &.navBar {
            position: fixed;
            height: 55px;
            width: 100%;
            min-width: 300px;
            top: 0;
            left: 0;
            z-index: 100;

            &::after {
                border-radius: 0;
                animation: none;
            }
            &::before {
                border-radius: 0;
                animation: none;
            }
            &:has(div.hamburger_icon){
                padding-left: 33px;
            }
        }

        &.form-login {
            position: relative;
            width: 95%;
            max-width: 400px;
            top: 0;
            left: 0;
            z-index: 50;
        }

        &.form-signin {
            position: relative;
            width: 95%;
            max-width: 650px;
            top: 0;
            left: 0;
            z-index: 50;
        }
        &.money {
            position: relative;
            margin-top: 2rem;
            width: 50%;
            height: 100px;
        }
    }
    body.red {
        .background {
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                border-radius: 8px;
                background: repeating-conic-gradient(
                    from var(--a),
                    var(--red),
                    var(--red),
                    var(--red),
                    var(--red),
                    var(--red)
                );
                animation: rotating 20s linear infinite;
            }

            &::after {
                content: "";
                position: absolute;
                inset: 0;
                border-radius: 8px;
                background: repeating-conic-gradient(
                    from var(--a),
                    var(--red-light),
                    var(--red),
                    var(--red-light),
                    var(--red)
                );
                animation: rotating 20s linear infinite;
                filter: blur(5px);
            }
        }
    }
    body.green {
        .background {
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                border-radius: 8px;
                background: repeating-conic-gradient(
                    from var(--a),
                    var(--green),
                    var(--green),
                    var(--green),
                    var(--green),
                    var(--green)
                );
                animation: rotating 20s linear infinite;
            }

            &::after {
                content: "";
                position: absolute;
                inset: 0;
                border-radius: 8px;
                background: repeating-conic-gradient(
                    from var(--a),
                    var(--green-light),
                    var(--green),
                    var(--green-light),
                    var(--green)
                );
                animation: rotating 20s linear infinite;
                filter: blur(5px);
            }
        }
    }
    @media (666px < width) {
        .background {
            &.form-signin {
                height: 392.5px;

                #group__lastname2{
                    display: none;
                }
            }
        }
    }
</style>
