---
import '@fontsource/audiowide';
---

<div>
    <img
    class=`icon`
    src=`src/icons/BrokerLogo.webp`
    alt="icono"
    width="28"
    height="28"
/>
    <h3>BrokerView</h3>
</div>
<style>
    div{
        display: flex;
        align-items: center;
        user-select: none;
        margin-left: .5rem;
    }
    h3{
        margin:0;
        color: var(--secondary-color-text);
        font-family: 'Audiowide', system-ui;
    }
    html.light{
        h3{
            color: var(--primary-color-text);
        }
    }
</style>