---
const { text } = Astro.props;
---

<div class="background__btn">
    <span class="backfill__btn"></span>
    <button class="btn" id="submit" type="submit">{text}</button>
</div>

<style>
    html.light {
        .background__btn {
            background-color: #222;

            .backfill__btn {
                background-color: #efefef;
            }
            .btn {
                background: #efefef;
                color: #222;
            }
        }
    }
    .background__btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        margin: auto;
        margin-top: 5px;
        width: 90%;
        max-width: 400px;
        height: 40px;
        background: #fff;

        &:hover {
            background: linear-gradient(to right, #0f0, #ff0, #0ff, #f0f);
        }

        &:hover .backfill__btn {
            display: block;
        }

        &:hover .btn {
            background-clip: text;
            color: transparent;
            background-image: linear-gradient(
                to right,
                #0f0,
                #ff0,
                #0ff,
                #f0f,
                #0ff
            );
        }

        .backfill__btn {
            display: none;
            height: 36px;
            width: calc(100% - 4px);
            background-color: #222;
        }

        .btn {
            border: none;
            cursor: pointer;
            position: absolute;
            font-weight: bold;
            display: block;
            z-index: 20;
            border-radius: 4px;
            height: 36px;
            width: calc(100% - 4px);
            color: #fff;
            background: #222;
        }
    }
</style>
