---
const { text } = Astro.props;
---

<div class="background__btn">
    <span class="backfill__btn"></span>
    <button class="btn" id="submit" type="submit">{text}</button>
</div>

<style>
    .background__btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        height: 40px;
        margin: auto;
        background-color: var(--bg-color-light);

        &:hover {
            background-color: var(--bg-color-light);

            body.red & {
                border: 3px solid var(--red);
            }
            body.green & {
                border: 3px solid var(--green);
            }
        }

        &:hover .backfill__btn {
            display: block;

            body.red & {
                background-image: repeating-conic-gradient(
                    from var(--a),
                    var(--red-600),
                    var(--red)
                );
            }
            body.green & {
                background-image: repeating-conic-gradient(
                    from var(--a),
                    var(--green-600),
                    var(--green)
                );
            }
        }

        &:hover .btn {
            background-clip: text;
            color: var(--text-color-dark);
        }

        html.light & {
            background-color: var(--bg-color-dark);
        }

        .backfill__btn {
            display: none;
            height: 30px;
            border-radius: 4px;
            width: calc(100% - 4px);
            background-color: var(--bg-color-dark);

            html.light & {
                background-color: var(--bg-color-light);
            }
        }

        .btn {
            display: block;
            position: absolute;
            border: none;
            cursor: pointer;
            font-family: inherit;
            letter-spacing: 1.5px;
            z-index: 20;
            height: 36px;
            width: calc(100% - 4px);
            color: var(--text-color-dark);
            background-color: var(--bg-color-dark);

            html.light & {
                background-color: var(--bg-color-light);
                color: var(--text-color-light);
            }
        }
    }
</style>
