---
const { text } = Astro.props;
---

<div class="background__btn">
    <span class="backfill__btn"></span>
    <button class="btn" id="submit" type="submit">{text}</button>
</div>

<style>
    .background__btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        margin: auto;
        margin-top: 5px;
        width: 90%;
        max-width: 400px;
        height: 40px;
        background-color: var(--bg-color-light);

        &:hover {
            background-color: var(--bg-color-light);
        }

        &:hover .backfill__btn {
            display: block;
            height: 30px;
        }

        &:hover .btn {
            background-clip: text;
            color: var(--text-color-dark);
        }

        .backfill__btn {
            display: none;
            height: 36px;
            border-radius: 4px;
            width: calc(100% - 4px);
            background-color: var(--bg-color-dark);
        }

        .btn {
            border: none;
            cursor: pointer;
            position: absolute;
            font-weight: bold;
            display: block;
            z-index: 20;
            height: 36px;
            width: calc(100% - 4px);
            color: var(--text-color-dark);
            background-color: var(--bg-color-dark);
        }
    }
    html.light {
        .background__btn {
            background-color: var(--bg-color-dark);

            .backfill__btn {
                background-color: var(--bg-color-light);
            }
            .btn {
                background-color: var(--bg-color-light);
                color: var(--text-color-light);
            }
        }
    }
    body.red {
        .background__btn {
            &:hover {
                border: 3px solid var(--red);
            }
            &:hover .backfill__btn {
                background: repeating-conic-gradient(
                    from var(--a),
                    var(--red-light),
                    var(--red)
                );
            }
        }
    }
    body.green {
        .background__btn {
            &:hover {
                border: 3px solid var(--green);
            }
            &:hover .backfill__btn {
                background: repeating-conic-gradient(
                    from var(--a),
                    var(--green-light),
                    var(--green)
                );
            }
        }
    }
</style>
