---
const { text, type } = Astro.props;
---

<button class=`btn ${type}`>{text}</button>

<style>
    button.btn {
        position: relative;
        font-family: inherit;
        letter-spacing: 1.5px;
        cursor: pointer;

        width: 90%;
        margin: auto;
        border-radius: 4px;

        background-color: transparent;

        body.red & {
            border: 2px solid var(--red-800);
            color: var(--red-700);
        }
        body.green & {
            border: 2px solid var(--green-600);
            color: var(--green-500);
        }
        html.light > body.red & {
            border: 2px solid var(--red);
            color: var(--red);
        }
        html.light > body.green & {
            border: 2px solid var(--green);
            color: var(--green);
        }

        &.form {
            max-width: 400px;
            height: 40px;
        }
        &.change_password {
            position: relative;
            max-width: 100px;
            height: 25px;
            margin: 0;
        }

        &:hover {
            body.red &,
            body.green & {
                color: var(--text-color-dark);
            }

            html.light > body.red &,
            html.light > body.green & {
                color: var(--text-color-dark);
            }
            body.red & {
                background-image: repeating-conic-gradient(
                    from var(--a),
                    var(--red-800),
                    var(--red)
                );
            }
            body.green & {
                color: var(--text-color-dark);

                background-image: repeating-conic-gradient(
                    from var(--a),
                    var(--green-600),
                    var(--green)
                );
            }
        }
    }
</style>
