---
import TitlesWelcome from "@components/TitlesWelcome.astro";
import ContainerLoaderIcon from "@components/loader/ContainerLoaderIcon.astro";
---

<home-data>
    <ContainerLoaderIcon />

    <TitlesWelcome />

    <section>
        <div>
            <h5>Broker</h5>
            <p id="amount-broker"></p>

            <hr />

            <h5>Último mes</h5>
            <p id="last-month">saldo: 000</p>
        </div>
        <div>
            <h5>Fondo</h5>
            <p id="amount-fund">saldo: 000</p>

            <hr />

            <h5>Última fecha de corte</h5>
            <p id="last-cutoff-date"></p>
        </div>
    </section>
</home-data>
<style>
    home-data {
        width: 100%;
        height: auto;
    }
    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

        width: 99%;
        margin: 0 auto;
        padding: 0 1rem;

        div {
            width: 100%;
            height: auto;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            padding: 1rem;

            border-radius: 8px;
            border: 1px solid #0f0;

            &:last-child {
                border: 1px solid #f00;
            }

            h5 {
                font-size: 2rem;
                font-weight: 100;
            }
        }
    }
</style>
<script>
    import { getCookieJWT } from "@scripts/utils";
    import { getAllData, setSessionStorage } from "@scripts/getData";

    import { renderDataBroker, renderDataFund } from "@scripts/home/renderHome";

    class HomeData extends HTMLElement {
        constructor() {
            super();
        }
        connectedCallback() {
            const getLastRecord = (data: Array<Object>) =>
                data[data.length - 1];

            const token = getCookieJWT();

            getAllData(token).then(([user, broker, fund]) => {
                setSessionStorage(user, broker, fund);

                const lastRecordBroker = getLastRecord(broker);
                const lastRecordFund = getLastRecord(fund);

                renderDataBroker(lastRecordBroker, this);
                renderDataFund(lastRecordFund, this);

                console.log(user);
            });
        }
    }
    customElements.define("home-data", HomeData);
</script>
