---
import TextLink from "@sections/TextLink.astro";
import BtnColor from "@components/BtnColor.astro";
import BackgroundColors from "@components/BackgroundColors.astro";
---

<form-password>
    <h1>Restablecer contraseña</h1>

    <BackgroundColors type="change_password">
        <form>
            <div id="forgot_password">
                <p>Ingrese su correo para restablecer su contraseña:</p>
                <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="nombre@gmail.com"
                />
            </div>
            <div id="change_password">
                <p>Se enviará un código de verificación al correo:</p>
            </div>
            <BtnColor text="CONFIRMAR" type="reset_password" />
        </form>
    </BackgroundColors>

    <TextLink
        href="/signin"
        text="¿No tiene una cuenta?"
        textN="Crear cuenta"
    />
</form-password>

<style>
    form-password {
        display: flex;
        flex-direction: column;

        width: 100%;
        min-height: 90dvh;

        h1 {
            text-align: center;
            margin-top: 9.5rem;
            margin-bottom: 2.5rem;
        }

        form {
            display: flex;
            flex-direction: column;

            width: 100%;
            height: auto;

            z-index: 1;
            padding: 20px;
            border-radius: 8px;

            background-color: var(--bg-color-dark);

            html.light & {
                background-color: var(--bg-color-light);
            }

            div {
                display: none;

                flex-direction: column;
                gap: 1rem;

                padding-bottom: 2rem;

                p {
                    text-align: center;
                    letter-spacing: 0.5px;
                    font-size: 1.2rem;
                }

                input {
                    border: none;
                    width: 100%;
                    padding: 8px;

                    &:focus {
                        outline: none;
                    }

                    html.light & {
                        background-color: #c9c9c9;
                    }
                }
            }
            span {
                width: 100%;
            }
        }
    }
    @media (width < 525px) {
        form-password {
            h1 {
                margin-top: 4rem;
                margin-bottom: 4.5rem;
            }
        }
    }
</style>

<script>
    class FormPassword extends HTMLElement {
        constructor() {
            super();
        }
        connectedCallback() {
            const dataCacheUser = sessionStorage.getItem("data-user");

            if (dataCacheUser) {
                const $div = this.querySelector(
                    "#change_password",
                ) as HTMLElement;
                const $anchor = this.querySelector(
                    ".text__link",
                ) as HTMLElement;

                $div.style.display = "flex";
                $anchor.style.display = "none";
                this.querySelector("#change_password p").textContent +=
                    " " + JSON.parse(dataCacheUser).email;
            } else {
                const $div = this.querySelector(
                    "#forgot_password",
                ) as HTMLElement;
                $div.style.display = "flex";
            }
        }
    }

    customElements.define("form-password", FormPassword);
</script>
