---

---

<div class="hamburger_icon">
    <input id="hamburger" type="checkbox" name="" />

    <span id="top"></span>
    <span id="middle"></span>
    <span id="bottom"></span>
</div>

<style>
    .hamburger_icon {
        position: relative;
        height: auto;
        height: 100%;
        width: 20px;

        input[type="checkbox"] {
            position: absolute;
            top: 10px;
            cursor: pointer;
            z-index: 20;
            width: 20px;
            height: 20px;
            margin: 0;
            opacity: 0;
        }
        input[type="checkbox"]:checked ~ #top {
            rotate: 45deg;
            top: 18.5px;
        }
        input[type="checkbox"]:checked ~ #middle {
            opacity: 0;
        }
        input[type="checkbox"]:checked ~ #bottom {
            rotate: -45deg;
            top: 18.5px;
        }
        span {
            position: absolute;
            width: 20px;
            height: 3px;
            left: 0;
            transition: 0.4s ease;
            background-color: var(--primary-color);
        }

        #top {
            top: 10px;
        }
        #middle {
            top: 18.5px;
        }
        #bottom {
            top: 27px;
        }
    }
    html.light {
        .hamburger_icon {
            span {
                background-color: var(--secondary-color);
            }
        }
    }
</style>
<script is:inline>
    document.getElementById("hamburger").addEventListener("click", () => {
        document
            .getElementById("background__menu-mobile")
            .classList.toggle("appear");
    });
</script>
