<div class="hamburger_icon" transition:persist>
    <input id="hamburger" type="checkbox" name="" />

    <span id="top"></span>
    <span id="middle"></span>
    <span id="bottom"></span>
</div>

<style>
    .hamburger_icon {
        position: absolute;
        height: 40px;
        width: 23px;
        left: 10px;
        z-index: 260;

        input[type="checkbox"] {
            position: absolute;
            top: 10px;
            cursor: pointer;
            z-index: 1;
            width: 23px;
            height: 20px;
            opacity: 0;
        }
        input[type="checkbox"]:checked ~ #top {
            rotate: 45deg;
            top: 18.5px;
        }
        input[type="checkbox"]:checked ~ #middle {
            opacity: 0;
        }
        input[type="checkbox"]:checked ~ #bottom {
            rotate: -45deg;
            top: 18.5px;
        }
        span {
            position: absolute;
            width: 23px;
            height: 3px;
            left: 0;
            transition:
                top 0.4s ease,
                rotate 0.4s ease,
                opacity 0.4s ease;
            background-color: var(--bg-color-dark);
        }

        #top {
            top: 10px;
        }
        #middle {
            top: 18.5px;
        }
        #bottom {
            top: 27px;
        }
    }
    html.light {
        .hamburger_icon {
            span {
                background-color: var(--bg-color-light);
            }
        }
    }
</style>
<script is:inline>
    let screenWidth = window.innerWidth;
    document.getElementById("hamburger").addEventListener("click", () => {
        if (screenWidth < 666) {
            document
                .getElementById("background__menu-toggle")
                .classList.toggle("appear");
        } else {
            document.getElementById("menu-toggle").classList.toggle("expanded");
        }
    });
</script>
