---
import BtnTheme from "@components/BtnTheme.astro";
import BackgroundColors from "@components/BackgroundColors.astro";
import BrokerLogo from "@components/BrokerLogo.astro";
import HamburgerMenu from "@components/HamburgerMenu.astro";
---

<BackgroundColors type="navBar">
    <nav class="navBar">
        <div class="navBar__container">
            <div>
                <HamburgerMenu />
                <BrokerLogo />
            </div>
            <BtnTheme />
        </div>
    </nav>
</BackgroundColors>

<style>
    .navBar {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 53px;
        margin-bottom: 0.2rem;
        background-color: var(--primary-color);

        .navBar__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            margin: auto;
            z-index: 300;
            width: 100%;
            max-width: 1000px;
            height: 40px;
            padding: 10px;

            div{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
            }
        }
    }
</style>
