---
import BtnTheme from "@components/BtnTheme.astro";
import BackgroundColors from "@components/BackgroundColors.astro";
---

<BackgroundColors type="navBar">
    <nav class="navBar">
        <div class="navBar__container">
            <BtnTheme />
        </div>
    </nav>
</BackgroundColors>

<style>
    .navBar {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 50;
        width: 100%;
        height: 53px;
        margin-bottom: 0.1rem;
        background-color: var(--primary-color);

        .navBar__container {
            display: flex;
            justify-content: end;
            align-items: center;
            position: relative;
            margin: auto;
            width: 100%;
            max-width: 1000px;
            height: 40px;
            padding: 10px;
        }
    }
</style>
