<section class="titles">
    <h5>Domigo, 18 de Marzo</h5>
    <h2> Hola Usuario</h2>
</section>
<style>
    .titles{
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: var(--primary-color-text);

        h2,h5{
            text-align: center;
            margin: 0;
        }
        h2{
            font-size: 2rem;
        }
    }

</style>