---
import FormSignin from "@components/forms/FormSignin.astro";
import FormLogin from "@components/forms/FormLogin.astro";
import BackgroundColors from "@components/BackgroundColors.astro";

const { type } = Astro.props;

const typeForm = type == "login" ? "form-login" : "form-signin";
---

<BackgroundColors type={typeForm}>
    <form class="form" id={typeForm}>
        {type == "signin" ? <FormSignin /> : <FormLogin />}
    </form>
</BackgroundColors>

<style>
    form.form {
        position: relative;

        width: 100%;
        z-index: 50;
    }
</style>
