---
import BtnTheme from "@components/BtnTheme.astro";
import BackgroundColors from "@components/BackgroundColors.astro";
import BrokerLogo from "@components/BrokerLogo.astro";
import HamburgerMenu from "@components/HamburgerMenu.astro";

interface Props {
    hasFooter: boolean;
}

const { hasFooter } = Astro.props;
---

<BackgroundColors type="navBar">

    {!hasFooter && <HamburgerMenu />}

    <nav class="navBar">
        <BrokerLogo />
        <BtnTheme />
    </nav>
</BackgroundColors>

<style>
    .navBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1350px;
        height: 40px;
        padding: 0 10px;
        z-index: 250;

        & > div {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    }
</style>
