---
import BtnTheme from "@components/BtnTheme.astro";
import BackgroundColors from "@components/BackgroundColors.astro";
import BrokerLogo from "@components/BrokerLogo.astro";
import HamburgerMenu from "@components/HamburgerMenu.astro";

interface Props {
	hamburger: string;
}

const {hamburger} = Astro.props

---

<BackgroundColors type="navBar">
    <nav class="navBar">
        <div>
            {!hamburger  && <HamburgerMenu/>}
            <BrokerLogo />
        </div>
        <BtnTheme />
    </nav>
</BackgroundColors>

<style>
    .navBar {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1000px;
        height: 40px;
        padding: 0 10px;
        z-index: 300;

        & > div {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    }
</style>
