---
interface Props {
    text: string;
    textN: string;
    href: string;
}

const { text, textN, href } = Astro.props;
---

<a class="text__link" href={href}>{text} <strong>{textN}</strong></a>
<style>
    .text__link {
        text-decoration: none;
        margin: 1.5rem auto;
        font-size: 1rem;
        color: var(--text-color-dark);
    }
    strong {
        font-weight: 100;
    }
    body.red {
        strong {
            color: var(--red-light);
        }
    }
    body.green {
        strong {
            color: var(--green);
        }
    }
    html.light {
        .text__link {
            color: var(--text-color-light);
        }
    }
</style>
