---
import BtnColor from "@components/BtnColor.astro";
import IconPassword from "@components/IconPassword.astro";
---

<form id="form-password">
    <div>
        <label for="pw">Contraseña nueva:</label>
        <input class="input_password" type="password" name="pw" id="pw" />
        <IconPassword />
    </div>

    <div>
        <label for="pw">Confirmar contraseña:</label>
        <input class="input_password" type="password" name="pw2" id="pw2" />
        <IconPassword />
    </div>

    <span class="btn">
        <BtnColor text="CONFIRMAR" type="form" />
    </span>
</form>

<style>
    form#form-password {
        position: absolute;
        top: 0;
        left: 100%;

        div {
            position: relative;

            display: flex;
            flex-direction: column;

            &:first-child {
                margin-bottom: 1rem;
            }
            label {
                margin-bottom: 0.5rem;
            }

            &.wrong {
                label {
                    color: var(--red-600);
                }
                input {
                    border: 2px solid var(--red-600);
                }
            }
            &.correct {
                label {
                    color: var(--green-600);
                }
                input {
                    border: 2px solid var(--green-600);
                }
            }
        }

        span {
            top: 56%;

            &.btn {
                margin-top: 1.9rem;
            }
        }
    }
</style>
