---
import TextLink from "@sections/TextLink.astro";
import FormEmail from "@components/forgotpw/FormEmail.astro";
import FormCode from "@components/forgotpw/FormCode.astro";
import FormPassword from "@components/forgotpw/FormPassword.astro";
import ContainerLoaderIcon from "@components/loader/ContainerLoaderIcon.astro";
import BackgroundColors from "@components/BackgroundColors.astro";
---

<form-password>
    <ContainerLoaderIcon />

    <h1>Restablecer contraseña</h1>

    <BackgroundColors type="change_password">
        <div id="forms">
            <FormEmail />
            <FormCode />
            <FormPassword />
        </div>
    </BackgroundColors>

    <TextLink
        href="/signin"
        text="¿No tiene una cuenta?"
        textN="Crear cuenta"
    />
</form-password>

<style>
    form-password {
        display: flex;
        flex-direction: column;

        width: 100%;
        min-height: 90dvh;

        h1 {
            text-align: center;
            margin-top: 9.5rem;
            margin-bottom: 2.5rem;
        }

        div#forms {
            position: relative;

            width: auto;
            height: auto;

            overflow: hidden;
            z-index: 1;
            border-radius: 8px;

            background-color: var(--bg-color-dark);

            html.light & {
                background-color: var(--bg-color-light);
            }

            &.send {
                form#form-email {
                    left: -100%;
                }
                form#form-code {
                    left: 0;
                }
            }
            &.password {
                form#form-email {
                    left: -100%;
                }
                form#form-code {
                    left: -100%;
                }
                form#form-password {
                    left: 0;
                }
            }

            form {
                display: flex;
                flex-direction: column;

                width: 100%;
                height: 255px;

                padding: 20px;
                border-radius: 8px;

                transition: left 0.5s ease;

                p.error {
                    text-align: center;
                    opacity: 0;
                    font-size: 0.935rem;
                    color: var(--red-700);

                    html.light & {
                        color: var(--red);
                    }
                }

                input {
                    border: none;
                    width: 100%;
                    padding: 8px;

                    &:focus {
                        outline: none;
                    }

                    html.light & {
                        background-color: #b8b8b8;
                    }
                }

                span.btn {
                    width: 100%;
                    display: flex;
                }
            }
        }
    }
    @media (width < 525px) {
        form-password {
            h1 {
                margin-top: 4rem;
                margin-bottom: 4.5rem;
            }
        }
    }
</style>

<script>
    import { renderFormsEmail } from "@scripts/forgotpw/renderEmailForms";
    import {
        enableSendEmail,
        enableSendCode,
    } from "@scripts/forgotpw/handlers";
    import { verifyInputsPassword } from "@scripts/forgotpw/password";
    import type { DataUser } from "@scripts/types";

    class FormPassword extends HTMLElement {
        constructor() {
            super();
            const cacheEmailUser: DataUser = JSON.parse(
                sessionStorage.getItem("data-user"),
            );
            const emailUser = sessionStorage.getItem("email-user");

            renderFormsEmail(cacheEmailUser, emailUser, this);
            enableSendEmail(cacheEmailUser, emailUser, this);
            enableSendCode(this);
            verifyInputsPassword(this);
        }
        connectedCallback() {
            this.querySelector("#loader-container").classList.add("disappear");
        }
    }

    customElements.define("form-password", FormPassword);
</script>
