---
import TapHeaders from "@components/broker/TapHeaders.astro";
import PagesBroker from "@components/broker/PagesBroker.astro";
import ContainerLoaderIcon from "@components/loader/ContainerLoaderIcon.astro";
---

<broker-data>
    <ContainerLoaderIcon />

    <h1>Broker</h1>

    <TapHeaders />
    <PagesBroker />
</broker-data>
<style>
    broker-data {
        width: 100%;
        height: auto;

        h1 {
            text-align: center;
            font-size: 2.5rem;

            margin-top: 1rem;
            margin-bottom: 2rem;
        }
    }
</style>
<script>
    import { getDataSessionStorage } from "@scripts/getData";
    import { renderCharts } from "@scripts/broker/chartsBroker";
    import { renderPages } from "@scripts/broker/renderBroker";
    import { transformDataByYear } from "@scripts/utils";

    class BrokerData extends HTMLElement {
        constructor() {
            super();
        }
        connectedCallback() {
            getDataSessionStorage("data-broker").then((data: Array<Object>) => {
                const dataObject = transformDataByYear(data);
                renderPages(dataObject, this);
                renderCharts(dataObject);
            });
        }
    }
    customElements.define("broker-data", BrokerData);
</script>
