<section id="pages">
    <article class="page">
        <div class="canvas-container">
            <canvas></canvas>
        </div>
    </article>
</section>

<style>
    #pages {
        article.page {
            display: none;
            height: auto;
            width: 100%;
        }

        div.canvas-container {
            height: 77dvh;
            width: 95%;
            margin: 0 auto;
            margin-bottom: 0.6rem;
        }
    }
</style>
