---
import Navbar from "src/sections/Navbar.astro";
import MenuMobile from "src/sections/MenuMobile.astro";
import Footer from "src/sections/Footer.astro";

import '../styles/global.css'
import '@fontsource/russo-one';

interface Props {
	title: string;
}

const { title } = Astro.props;

const colorTheme = ["red","green"];
const randomIndex = Math.floor(Math.random() * colorTheme.length);
const color = colorTheme[randomIndex]
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/BrokerLogo.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body id="body" class={color}>
		<Navbar />
		<MenuMobile />
		<slot />
		<Footer />
	</body>
</html>
