---
import BtnColor from "../BtnColor.astro";
import IconForm from "../IconForm.astro";

import "src/styles/forms.css";
---

<div class="form__group">
	<label class="form__label" for="user-login">Usuario:</label>
	<input
		class="form__input"
		type="text"
		id="user-login"
		name="user"
		required
	/>
</div>

<div class="form__group">
	<label class="form__label" for="password-login">Contraseña:</label>
	<div class="form__group-input">
		<input
			type="password"
			class="form__input"
			name="password"
			id="password-login"
			required
		/>
		<IconForm type="no-view" />
	</div>
	<p>
		<a href="/signin">¿Has olvidado tu contraseña?</a>
	</p>
</div>

<div class="form__group">
	<BtnColor text="INGRESAR" />
</div>
<style>
	p {
		margin-top: 0.5rem;
		font-size: 0.8rem;
		text-align: end;

		a {
			text-decoration: none;
			color: inherit;
			letter-spacing: 1px;
		}
	}
</style>
<script is:inline>
	document.querySelector(".form-login").addEventListener("submit", (e) => {
		e.preventDefault();

		const data = Object.fromEntries(new FormData(e.target));
		
		console.log(data);
	});
</script>
