---
import BtnColor from "@components/BtnColor.astro";
import IconPassword from "@components/forms/IconPassword.astro";

import "src/styles/forms.css";
---

<div class="form__group">
	<label class="form__label" for="user-login">Usuario:</label>
	<input
		class="form__input"
		type="text"
		id="user-login"
		name="username"
		required
	/>
</div>

<div class="form__group">
	<label class="form__label" for="password-login">Contraseña:</label>
	<div class="form__group-input">
		<input
			type="password"
			class="form__input"
			name="password"
			id="password-login"
			required
		/>
		<IconPassword />
	</div>
	<p>
		<a
			href="/password"
			aria-label="Ir a la página para restablecer contraseña"
			data-astro-reload>¿Has olvidado tu contraseña?</a
		>
	</p>
</div>

<p class="form__error-send"></p>

<div class="form__group">
	<BtnColor text="INGRESAR" type="form" />
</div>
<style>
	div {
		p {
			margin-top: 0.5rem;
			font-size: 0.8rem;
			text-align: end;

			a {
				text-decoration: none;
				color: inherit;
				letter-spacing: 1px;
			}
		}
	}
</style>
<script is:inline type="module">
	import { loginUser } from "./src/scripts/usersAPI";

	document.getElementById("form-login").addEventListener("submit", (e) => {
		e.preventDefault();

		const data = new FormData(e.target);

		loginUser(data);
	});
</script>
